@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,900&display=swap');

:root {
    --input-main-color: transparent;
    --input-focus-color: #769FCD;
    --input-hover-color: rgba(118, 159, 205, 0.4);
    --input-label-color: #3e78c0;
}

body {
    height: 100vh;
    display: flex;
    background: #F7FBFC;
    padding: 0;
    margin: 0;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}

#popup {
    width: 100vw;
    height: 100vh;
    position: absolute;
    background: rgba(63, 85, 109, 0.2);
    backdrop-filter: blur(5px);
    z-index: 50;
    display: flex;
    align-items: center;
    justify-content: center;

    transform: scale(0);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1%;
    background-color: #D6E6F2;
    max-height: 60px;
}

.logo {
    width: 40%;
    margin-left: 2%;
    color: #769FCD;
    display: flex;
    align-items: center;
}

.logo i {
    transform: scale(2.5);
    margin-top: -1%;
}

.logo span {
    font-size: 1.8em;
    margin-left: 4%;
    font-weight: 300;
}

.userInfo {
    margin-right: 2%;

}

.userInfo i {
    transform: scale(2);
    color: #769FCD;
    transition: all 0.3s;
    padding: 5px;
    border-radius: 100px;
    border: 1px solid #769FCD;
}

.userInfo i:hover {
    color: #F7FBFC;
    cursor: pointer;
    background: #00ADB5;

}

.mainStats {
    width: 100%;
    height: 44%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3%;
    margin-top: 1.5%;
    box-sizing: border-box;
    padding: 0 3% 0 3%;
}
.dashboard {
    width: 20%;
    box-sizing: border-box;
    padding: 1%;
    height: 100%;
    align-self: start;
    display: flex;
    flex-direction: column;
}

.dashboardContent {
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 3%;
    border-radius: 5px;
    border: 1px solid #769FCD;
}

.dashboard .dashboardHeader {
    color: #769FCD;
    font-size: 2.2vw;
    font-weight: 300;
    height: 17%;
    text-align: center;
}

.dashboard .dashList {
    height: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 10%;
}

.dashboard .dashList li {
    color: #769FCD;
    font-weight: 100;
    font-size: 1.1vw;
}

.dashboard .boldText, .metricsBox .boldText {
    font-weight: 300;
}


.shedule {
    width: 50%;
    height: 100%;
    position: relative;
    padding: 0.5%;
    transition: all 0.3s;
    box-sizing: border-box;
}

.shedule:hover {
    cursor: pointer;
}

@keyframes popupShowUp {
    0% {
        transform: scale(0);
        filter: blur(10px);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        filter: blur(0);
        opacity: 1;
    }
}

@keyframes popupShowDown {
    0% {
        transform: scale(1);
        filter: blur(0);
        opacity: 1;
    }
    100% {
        transform: scale(0);
        filter: blur(10px);
        opacity: 0;
    }
}

#tablePopup {
    height: 27%;
    width: 19%;
    position: absolute;
    z-index: 50;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(1px);
    background: rgba(0, 0, 0, 0.03);
    transform: scale(0);
    filter: blur(10px);
    opacity: 0;
}

.recordEditBox {
    font-family: 'Roboto', sans-serif;
    width: 90%;
    height: 50%;
    max-width: 800px;
    max-height: 250px;
    background: #F7FBFC;
    border-radius: 10px;
    box-shadow: 1px 3px 10px 2px rgba(34, 60, 80, 0.4);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

.recordEditBox .inputBox {
    margin: 6% auto auto;
    justify-content: space-around;
}

.recordEditBox .inputBox .input {
    width: 43%;
    height: 55%;
}

.recordEditBox .inputBox .input label {
    transform: translate(0%, -140%);
    color: var(--input-label-color);
    font-size: 1em;
}

.recordEditBox .inputBox .input span {
    transform: translate(2%, 150%);
}

.recordEditBox .inputBox .input input {
    width: 100%;
    padding: 0;
}

.recordEditBox .inputBox .input input[type=date] {
    font-size: 1em;
}

.recordEditBox .inputBox .input:has(input[type="date"]) i {
    margin-right: 3%;
}

.recordEditBox .inputBox .input input[type=number] {
    padding: 4%;
}

.recordEditBox .actionsBox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0 1.5% 0 1.5%;
    width: 100%;
    height: 27%;
    border-radius: 0 0 10px 10px;
    background: rgba(0, 0, 0, 0.05);
}

.recordEditBox .actionsBox button {
    border: none;
    color: #CA150C;
    font-family: 'Roboto', sans-serif;
    font-size: 0.9em;
    background: transparent;
    height: 70%;
    border-radius: 5px;

    transition: all 0.2s;

    cursor: pointer;

    margin-left: 2%;
}

.recordEditBox .actionsBox button:hover {
    background: rgba(202, 21, 12, 0.06);
}

.recordEditBox .actionsBox button:first-of-type:active{
    box-shadow: 0 0 10px 0 rgba(251, 155, 155, 0.92)
}

.recordEditBox .actionsBox .saveBox {
    height: 100%;
    width:52%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
}

.recordEditBox .actionsBox .saveBox button:first-child {
    color: #005FDB;
    margin-left: -2%;
}

.recordEditBox .actionsBox .saveBox button:first-child:hover {
    background: rgba(0, 95, 219, 0.06)
}

.recordEditBox .actionsBox .saveBox button:first-child:active {
    box-shadow: 0 0 10px 0 rgba(118, 159, 205, 0.92)
}

.recordEditBox .actionsBox .saveBox button:last-child {
    color: #F7FBFC;
    background: #005FDB;
    margin-right: 2%;
}

.tableZone {
    height: 100%;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.scroll {
    width: 100%;
    height: 60%;
    border-spacing: 0;
    box-shadow: 1px 3px 10px 2px rgba(34, 60, 80, 0.2);
    border-collapse: collapse;
    color: #3e78c0;
    font-family: 'Roboto', sans-serif;
    background: rgba(118, 159, 205, 0.03);
}

.scroll i {
    background: #769FCD;
    border-radius: 5px;
    color: #F7FBFC;
    border: 5px solid #769FCD;
    transition: all 0.2s;
    cursor: pointer;
    transform: scale(0.9);
}

.scroll i:hover {
    background: transparent;
    border-color: transparent;
    color: #769FCD;
    transform: scale(1.4);
}

.scroll i:active {
    transform: scale(0.5);
}

.scroll tbody,
.scroll thead tr {
    display: block;
}

.scroll tbody {
    height: 100%;
    max-height: 430px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.scroll thead th:last-child {
    width: 35px;
}

.scroll thead th {
    width: 45.8%;
    border-bottom: 1px solid rgba(118, 159, 205, 1);
    text-align: left;
    box-sizing: border-box;
    padding: 1.5%;
    font-weight: 400 !important;
}

.scroll tbody tr td {
    border-bottom: 1px solid rgba(118, 159, 205, 1);
    width: 170px;
    text-align: left;
    box-sizing: border-box;
    padding: 1.5%;
    font-weight: 300;
}

.scroll tbody tr td:last-child {
    width: 20px;
}

.scroll .fa-pen-to-square {
    margin-left: -150%;
}

.activeRecord {
    background: rgba(150, 146, 255, 0.1);
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #769FCD;
}

::-webkit-scrollbar-thumb {
    background: #D6E6F2;
    border-radius: 100px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.createRecordZone {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15%;
    height: 33%;
    box-shadow: 1px 3px 10px 2px rgba(34, 60, 80, 0.2);
    border-radius: 5px;
    margin-top: 5%;
    background: rgba(118, 159, 205, 0.05);
}

.inputBox {
    width: 100%;
    height: 43%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
}

.inputBox .input {
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: #4f6c8e;
}

.advice {
    transform: translateX(5%);
    height: 0;
    width: 100%;
    max-width: 160px;
    background: red;
    font-size: 0.8em;
    font-weight: 300;
    display: none;
}

.input input {
    align-self: center;
    width: 90%;
    height: 100%;
    outline: none;
    box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.3) inset;
    background: rgba(214, 230, 242, 0.3);
    border-radius: 3px;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    padding: 4%;
    font-size: 1em;
    color: #4f6c8e;
    transition: all 0.3s;
    border: 1px solid var(--input-main-color);
}

.input input:focus, .input input:valid {
    border-color: var(--input-focus-color) !important;
}

.input input:hover, .input:has(i:hover) input{
    border-color: var(--input-hover-color);
}

.input label {
    position: absolute;
    transform: translate(30%, -140%);
    font-size: 1.1em;
    font-weight: 300;
    color: var(--input-label-color);
}

.input input[type="date"] {
    text-align: center;
    cursor: pointer;
}

.input:has(input[type="date"]) i {
    position: absolute;
    align-self: end;
    margin-right: 1%;
    transform: scale(1.2);
    color: #4f6c8e;
    transition: all 0.2s;
    margin-top: -0.2%;
}

.input:has(input[type="date"]) i:hover {
    opacity: 0.7;
}

.input:has(input[type="date"]) i:active {
    opacity: 1;
    filter: saturate(150%);
}

::-webkit-calendar-picker-indicator {
    opacity: 0;
}

.saveButton {
    width: 70%;
    height: 20%;
    outline: none !important;
    border: 1px solid #769FCD !important;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    color: #557394 !important;
    font-size: 1.1em;
    background: linear-gradient(to left, transparent 50%, rgba(118, 159, 205, 0.15) 50%) right !important;
    background-size: 200% !important;
    transition: all 0.2s ease-out, box-shadow 0.1s;
}

.saveButton:hover {
    background-position: left !important;
}

.saveButton:active {
    box-shadow: 0 0 10px 0 rgba(118, 159, 205, 0.92) !important;
}


.metricsBox {
    width: 93%;
    height: 15%;
    background: #D6E6F2;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 20px 25px rgba(13, 14, 16, 0.65);
    pointer-events: none;
    margin-top: 4%;
}

.metricsBox span {
    font-size: 1.2vw;
    font-weight: 100;
}

#averageMetric, #supposedDateMetric, #goalStatsMetric {
    width: 33%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    padding: 1%;
    color: #527394;
}

#averageMetric {
    border-right: #769FCD solid 3px;
}

#averageMetric i {
    margin-right: 4%;
}

#supposedDateMetric i {
    transform: scale(2);
    margin-right: 5%;
}

#goalStatsMetric {
    border-left: #769FCD solid 3px;
    padding: 1% 0 0 0;
}

#goalStatsMetric i {
    transform: scale(1.7);
    margin-right: 4%;
}

.metricHeader {
    font-size: 1.3vw;
    font-weight: 300;
    width: 100%;
    text-align: center;
}

.metricContent {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}

#supposedDate {
    font-weight: 300;
    font-size: 2vw;
    color: #527394;
    text-shadow: 0 10px 10px #527394;
}

#goalStatsMetric table {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
}

#goalStatsMetric th, td {
    text-align: center;
}

#goalStatsMetric td {
    width: 50%;
}

#goalStatsMetric td + td {
    border-left: 3px solid #769FCD;
}

#goalStatsMetric tr + tr {
    border-top: 3px solid #769FCD;
}