@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,900&display=swap');

:root {
    --input-main-color: rgba(57, 141, 236, 0.1);
    --input-secondary-color: rgba(118, 159, 205, 0.3);
    --input-marker-color: rgba(57, 141, 236, 1);
}

body {
    height: 100vh;
    display: flex;
    background: #F7FBFC;
    padding: 0;
    margin: 0;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}

#popup {
    width: 100vw;
    height: 100vh;
    position: absolute;
    background: rgba(63, 85, 109, 0.2);
    backdrop-filter: blur(5px);
    z-index: 50;
    display: flex;
    align-items: center;
    justify-content: center;

    transform: scale(0);
}

@keyframes popupShowUp {
    0% {
        transform: scale(0);
        filter: blur(10px);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        filter: blur(0);
        opacity: 1;
    }
}

@keyframes popupShowDown {
    0% {
        transform: scale(1);
        filter: blur(0);
        opacity: 1;
    }
    100% {
        transform: scale(0);
        filter: blur(10px);
        opacity: 0;
    }
}

.recordEditBox {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    height: 100%;
    max-width: 800px;
    max-height: 250px;
    background: #F7FBFC;
    border-radius: 10px;
    box-shadow: 0 0 41px 20px rgba(34, 60, 80, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

.recordEditBox .recordHeader {
    font-size: 1.5em;
    font-weight: 300;
    color: #005FDB;
    align-self: start;
    margin-left: 3%;
    margin-top: 1.5%;
}

.recordEditBox .inputBox {
    margin: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.recordEditBox .inputBox .input {
    width: 350px;
    height: 40px;
}

.recordEditBox .inputBox .input label {
    position: absolute;
    transform: translate(0%, -120%);
    color: rgba(0, 0, 0, 0.6);
    font-weight: 300;
    font-size: 1em;
    transition: all 0.2s;
}

.recordEditBox .inputBox .input span {
    color: var(--input-marker-color);
    transition: all 0.2s;
}

.recordEditBox .inputBox .input input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background: var(--input-main-color);
    border-radius: 3px;
    transition: all 0.2s;
    font-family: 'Roboto', sans-serif;
    color: #1E1E1E;
    box-sizing: border-box;
    padding: 0;
}

.recordEditBox .inputBox .input input:hover {
    background: var(--input-secondary-color);
}

.recordEditBox .inputBox .input:has(input:hover) label {
    color: rgba(0, 0, 0, 0.8);
}

.recordEditBox .inputBox .input input:focus,
.recordEditBox .inputBox .input input:valid {
    background: var(--input-main-color);
}

.recordEditBox .inputBox .input:has(input:focus) label,
.recordEditBox .inputBox .input:has(input:valid) label {
    color: rgba(57, 141, 236, 1);
}

.recordEditBox .inputBox .input input[type=date] {
    font-family: 'Roboto', sans-serif;
    color: #1E1E1E;
    text-align: center;
    font-size: 1em;
    cursor: pointer;
}

.recordEditBox .inputBox .input input[type=number] {
    font-size: 1.1em;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    padding: 2%;
}

.recordEditBox .actionsBox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0 1.5% 0 1.5%;
    width: 100%;
    height: 25%;
    border-radius: 0 0 10px 10px;
    background: rgba(0, 0, 0, 0.05);
}

.recordEditBox .actionsBox button {
    border: none;
    color: #CA150C;
    font-family: 'Roboto', sans-serif;
    font-size: 0.9em;
    background: transparent;
    height: 70%;
    border-radius: 3px;

    transition: all 0.2s;

    cursor: pointer;
}

.recordEditBox .actionsBox button:hover {
    background: rgba(202, 21, 12, 0.06);
}

.recordEditBox .actionsBox button:active {
    transform: scale(0.8);
}

.recordEditBox .actionsBox .saveBox {
    height: 100%;
    width: 26%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.recordEditBox .actionsBox .saveBox button:first-child {
    color: #005FDB;
}

.recordEditBox .actionsBox .saveBox button:first-child:hover {
    background: rgba(0, 95, 219, 0.06)
}

.recordEditBox .actionsBox .saveBox button:last-child {
    color: #F7FBFC;
    background: #005FDB;
}

.recordEditBox .actionsBox .saveBox button:last-child:hover {
    color: rgba(247, 251, 252, 0.7);
}

::-webkit-calendar-picker-indicator:hover{
    filter: brightness(0);
}

::-webkit-calendar-picker-indicator {
    transition: all 0.3s;
    cursor: pointer;
    margin-right: 5%;
    transform: scale(1.3);
    filter: invert(1) brightness(40%);
}

/*@media (max-width: 1000px) {
    .mainStats {
        flex-direction: column;
        justify-content: unset !important;
        width: 120% !important;
    }

    .dashboard .dashboardHeader {
        font-size: 3vw !important;
    }

    .dashboard .statsElem span {
        font-size: 2vw !important;
    }

    .dashboard .inputElem .inputLabel span {
        display: none !important;
    }

    .dashboard .inputElem input[type=number] {
        font-size: 2.5vw !important;
        width: 100% !important;
    }

    .dashboard input[type=date] {
        font-size: 2vw !important;
        width: 100% !important;
    }

    .createRecordButton button {
        font-size: 2.6vw !important;
    }

    .table {
        margin-top: 1%;
        width: 75% !important;
        height: 60% !important;
    }

    .table li {
        margin-bottom: 1% !important;
        height: 30% !important;
    }

    #recordDate {
        font-size: 2.5vw !important;
    }

    #recordWeight {
        font-size: 3vw !important;
    }

    .scrollZone {
        width: 98%;
        height: 95% !important;
    }

    .metricsBox {
        width: 90% !important;
        bottom: 1% !important;
        box-shadow: none !important;
    }

    .metricsBox span {
        font-size: 2.5vw !important;
    }

    #supposedDate {
        font-size: 3vw !important;
    }

    #saveButtons {
        padding: 0.4% !important;
    }

    #save {
        font-size: 2.3vw !important;
    }

    #discard {
        font-size: 2vw !important;
    }
}*/

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1%;
    background-color: #D6E6F2;
    max-height: 60px;
}

.logo {
    width: 40%;
    margin-left: 2%;
    color: #769FCD;
    display: flex;
    align-items: center;
}

.logo i {
    transform: scale(2.5);
    margin-top: -1%;
}

.logo span {
    font-size: 1.8em;
    margin-left: 4%;
    font-weight: 300;
}

.userInfo {
    margin-right: 2%;

}

.userInfo i {
    transform: scale(2);
    color: #769FCD;
    transition: all 0.3s;
    padding: 5px;
    border-radius: 100px;
    border: 1px solid #769FCD;
}

.userInfo i:hover {
    color: #F7FBFC;
    cursor: pointer;
    background: #00ADB5;

}

.mainStats {
    width: 100%;
    height: 44%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 1.5%;
    box-sizing: border-box;
    padding: 0 3% 0 3%;
}

.stats {
    width: 76%;
    height: 100%;
    display: flex;
}

.dashboard {
    width: 40%;
    box-sizing: border-box;
    padding: 1%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.dashboard .dashboardHeader {
    color: #769FCD;
    font-size: 2.2vw;
    font-weight: 300;
    height: 20%;
    text-align: center;
}

.dashboard .dashList {
    height: 33%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 7%;
}

.dashboard .dashList li {
    color: #769FCD;
    font-weight: 300;
    font-size: 1.1vw;
}

.dashboard .statsElem .boldText, .metricsBox .boldText {
    font-weight: 300;
}


.shedule {
    width: 66%;
    height: 100%;
    position: relative;
    padding: 0.5%;
    transition: all 0.3s;
    box-sizing: border-box;
}

.shedule:hover {
    cursor: pointer;
}

.tableZone {
    height: 100%;
    width: 20%;
    display: flex;
    flex-direction: column;
}

.scroll {
    width: 100%;
    height: 92%;
    border-spacing: 0;
    border: 1px solid rgba(118, 159, 205, 1);
    border-collapse: collapse;
    color: #769FCD;
    font-family: 'Roboto', sans-serif;
}

.scroll i {
    background: #769FCD;
    border-radius: 5px;
    color: #F7FBFC;
    border: 5px solid #769FCD;
    transition: all 0.2s;
    cursor: pointer;
    transform: scale(0.9);
}

.scroll i:hover {
    background: transparent;
    border-color: transparent;
    color: #769FCD;
    transform: scale(1.4);
}

.scroll i:active {
    transform: scale(0.5);
}

.scroll tbody,
.scroll thead tr {
    display: block;
}

.scroll tbody {
    height: 100%;
    max-height: 430px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.scroll thead th:last-child {
    width: 30px;
}

.scroll thead th {
    width: 45.8%;
    border-bottom: 1px solid rgba(118, 159, 205, 1);
    text-align: left;
    box-sizing: border-box;
    padding: 1.5%;
    font-weight: 500 !important;
}

.scroll tbody tr td {
    border-bottom: 1px solid rgba(118, 159, 205, 1);
    width: 170px;
    text-align: left;
    box-sizing: border-box;
    padding: 1.5%;
    font-weight: 300;
}

.scroll tbody tr td:last-child {
    width: 20px;
}

.scroll .fa-pen-to-square {
    margin-left: -150%;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #769FCD;
}

::-webkit-scrollbar-thumb {
    background: #D6E6F2;
    border-radius: 100px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}



.createRecordButton {
    display: inline;
    height: 8%;
    width: 100%;
    outline: none;
    border-width: 0 1px 1px 1px;
    border-color: rgba(118, 159, 205, 1);
    border-style: solid;
    background: transparent;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    color: #769FCD;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2vw;
    font-weight: 200;
    transition: all 0.2s;
}

.createRecordButton:hover {
    background: #769FCD;
    color: #F7FBFC;
}

.metricsBox {
    width: 93%;
    height: 15%;
    background: #D6E6F2;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 20px 25px rgba(13, 14, 16, 0.65);
    pointer-events: none;
    margin-top: 4%;
}

.metricsBox span {
    font-size: 1.2vw;
    font-weight: 100;
}

#averageMetric, #supposedDateMetric, #goalStatsMetric {
    width: 33%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    padding: 1%;
    color: #527394;
}

#averageMetric {
    border-right: #769FCD solid 3px;
}

#averageMetric i {
    margin-right: 4%;
}

#supposedDateMetric i {
    transform: scale(2);
    margin-right: 5%;
}

#goalStatsMetric {
    border-left: #769FCD solid 3px;
    padding: 1% 0 0 0;
}

#goalStatsMetric i {
    transform: scale(1.7);
    margin-right: 4%;
}

.metricHeader {
    font-size: 1.3vw;
    font-weight: 300;
    width: 100%;
    text-align: center;
}

.metricContent {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}

#supposedDate {
    font-weight: 300;
    font-size: 2vw;
    color: #527394;
    text-shadow: 0 10px 10px #527394;
}

#goalStatsMetric table {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
}

#goalStatsMetric th, td {
    text-align: center;
}

#goalStatsMetric td {
    width: 50%;
}

#goalStatsMetric td + td {
    border-left: 3px solid #769FCD;
}

#goalStatsMetric tr + tr {
    border-top: 3px solid #769FCD;
}